.height-page {
  height: calc(100vh - 65px);
}
.height-page2 {
  height: calc(100vh - 130px);
}
header {
  height: 65px;
}
.bg-vs-dark {
  background-color: #202124;
  border-color: #858585 !important;
}
.bg-vs-gray {
  background-color: #393e42;
}
