.height-page {
  height: calc(100vh - 75px);
}
header {
  height: 75px;
}
.bg-vs-dark {
  background-color: #202124;
  border-color: #858585 !important;
}
.bg-vs-gray {
  background-color: #393e42;
}
